body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header * {
  margin: 0vh;
}

.header {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  color: rgb(14, 94, 126);
  background-color: rgb(2, 16, 22);
  margin: 0;
}

.header a {
  color: rgb(14, 94, 126);
  text-decoration: none;
}

.content {
  display: flex;
  gap: 3vh;
  flex-direction: column;
  flex-grow: 1;
  padding: 2%;
  box-sizing: border-box;
}

.nav {
  display: flex;
  width: 55vw;
  min-width: 300px;
  max-width: 100%;
  justify-content: space-around;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.384);
  flex-wrap: wrap;
  overflow: hidden;
}

.nav a {
  color: rgb(14, 94, 126);
  text-decoration: none;
  font-size: clamp(20px, 3vw, 35px);
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  white-space: normal;
  text-align: center;
  padding: 10px;
}

.nav a img {
  width: 45px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.gif img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  display: block;
  padding: 3px;
}

.gif {
  display: flex;
  width: 55vw;
  min-width: 300px;
  max-width: 100%;
  justify-content: space-around;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.384);
  flex-wrap: wrap;
  overflow: hidden;
}

.footer {
  display: flex;
  width: 100vw;
  gap: 1vw;
  color: rgb(14, 94, 126);
  background-color: rgb(2, 16, 22);
  justify-content: center;
}
