body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
}

header {
  display: flex;
}

footer {
  display: flex;
}
